body {
  margin: 0px;
  padding: 0px;
}
.page-main {
  position: relative;
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
  background: #7cfff0;
  height: 900px;
  margin-top: 10px;
}
.row-blocks {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
  height: 33.33%;
}
.section-block {
  position: relative;
  float:  left;
  width: 33.33%;
  height: 1005;
  height:  100%;
}
.content-block {
  position: absolute;
  width: 80px;
  height: 80px;
}
.content-block2 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 31%;
}
.content-block3 {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom:  0%;
}
.text {
  line-height: 1.8;
  font-size: 40px;
}
#content-a {
  background: red;
  border-radius: 50%;
}
#content-b {
  background: yellow;
  border-radius: 20%;
  top: 0%;
  left: 46%;
  border: 1px solid red;
}
#content-c {
  background: blue;
  right: 0%;
}
#content-d {
  top: 46%;
  background: green;
  border-right: 6px solid blue;
}
#content-e {
  background: orange;
  width: 110px;
  height: 110px;
  top: 46%;
  left: 46%;
}
#content-f {
  background: purple;
  top: 46%;
  right: 0%;
}
#content-g {
  bottom: 0%;
  left: 0%;
}
#content-h {
  background: black;
  color: white;
  bottom: 3%;
  left: 46%;
}
#content-i {
  background: gray;
  right: 0%;
  bottom: 0%;
}
#content-i span {
  position:  absolute;
  color: red;
  top: -36px;
  left: 43%;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
